<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BEFAS Fon Analizi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/returns.css') }}"
    />
  </head>
  <body>
    <section class="data">
      <div id="table">tablo</div>
      <div id="max">max</div>
      <div id="min">min</div>
      <div id="mean">ortalama</div>
      <div id="std">standart sapma</div>
      <div id="egm">egm kıyas</div>
    </section>
  </body>
</html>
